QLabel {font-size:35px;margin-left: 80px;font-family: Open sans-serif;}
#preset{color:red; font-size:45px;margin-left:30px;}
#for{margin-left:70px;}
#installer{margin-left:90px; font-size:45px; color:red}


